

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>New Resource</h1></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <section>
            <div class="form-group">
              <label for="newTitle">Resource Title</label>
              <input class="form-control" type="text" name="newTitle" data-ng-model="resource.title" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="newContent">Resource Link</label>
              <input class="form-control" name="newLink" data-ng-model="resource.link">
            </div>
            <div class="form-group">
              <label for="newContent">Resource Attributes</label>
              <input class="form-control" name="newLink" data-ng-model="resource.attributes">
            </div>
            <div class="form-group">
              <button class="btn btn-primary" data-ng-click="resourcesCtl.createLink(resource)">Create</button>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
