<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>{{resourcesCtl.resource.title}}</h1></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <section>
            <div class="form-group">
              <label for="resourceWebsiteTitle">Website Title</label>
              <input class="form-control" name="resourceWebsiteTitle" type="text" data-ng-model="resourcesCtl.resource.title" value="{{resourcesCtl.resource.title}}">
            </div>
            <div class="form-group">
              <label for="resourceTitle">User Title</label>
              <input class="form-control" name="resourceMetaTitle" type="text" data-ng-model="resourcesCtl.resource.metaTitle" value="{{resourcesCtl.resource.metaTitle}}">
            </div>
            <div class="form-group">
              <label for="resourcePhoto">Post Photo</label>
              <input class="form-control" name="resourcePhoto" type="text" data-ng-model="resourcesCtl.resource.photo" value="{{resourcesCtl.resource.photo}}">
              <img class="thumb" ng-src="{{resourcesCtl.resource.photo}}" alt="">
            </div>
            <div class="form-group">
              <label for="resourceLink">Resource Link</label>
              <input type="text" name="resourceLink" class="form-control" data-ng-model="resourcesCtl.resource.link">
            </div>
            <div class="form-group">
              <label>Attributes:</label>
              <div
                isteven-multi-select
                input-model="resourcesCtl.attributes"
                output-model="resource.attributes"
                button-label="icon name"
                item-label="icon name maker"
                tick-property="ticked"
              >
              </div>

            </div>
            <div class="form-group">
              <button class="btn btn-primary" data-ng-click="resourcesCtl.editResource(resourcesCtl.resource)">Update Post</button>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
