<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>New Post</h1></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <section>
            <div class="form-group">
              <label for="newName">Attribute Name</label>
              <input class="form-control" type="text" name="newName" data-ng-model="attribute.name" placeholder="Name">
            </div>
            <div class="form-group">
              <button class="btn btn-primary" data-ng-click="attributesCtl.createAttribute(attribute)">Create</button>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>

